.jumbotron{
	background-color: #F5C4A4;
	border-color:#FAEED8;
	border-style: solid;
	border-width: 4px;
}

.gifCards {

	float:left;
	margin: 10px;
}

.btn-info {



}

input {

	margin: 2px;
}

#jumboTitle {

	font-family: 'Lobster', cursive;
	font-size: 90px;
	color:#363636;
	text-shadow: -2px -2px 0 #FAEED8,
	2px -2px 0 #FAEED8,
	-2px 2px 0 #FAEED8,
	2px 2px 0 #FAEED8;
	background-color: #F5C4A4;
}

.footer {

	background-color: #FAEED8;
	text-align: center;
	opacity:0.5;
	padding-top:10px;
	padding-bottom: 6px;
	font-family: 'Lobster', cursive;
	font-size: 24px;
	color:#363636;
	
}

#jumboText{

	font-family: 'VT323', monospace;
	font-size: 30px;
	color:#363636;
}

body{
	height:100%;
	background-color: #363636;
	color:#FAEED8;
}
.input-group {
	width:50%;
}
.btn-default{
	background-image:none;
	background-color:#F5C4A4;
	color:#363636;
	border-color:#363636;
	font-family: 'VT323', monospace;
}

.btn-default:focus, .btn-default:hover{
	background-color:#FFB18C;
}

.btn-info {
	background-image:none;
	background-color: #FFB18C;
	outline-color: #FAEED8;
	border-color:#FAEED8;
	font-family: 'VT323', monospace;
	font-size: 18px;
	color:#363636;
	margin:4px;

}

.btn-info:focus, .btn-info:hover {
	background-image:none;
	background-color: #F5C4A4;
	border-color: #F5C4A4;
	color:#FAEED8;

}
.form-control {
	background-color:#FAEED8;
	color:#363636;
	border-color:#363636;
}

